# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/

# Mac OS
.DS_Store

# VSCode
.vscode/

# Logs
*.log
logs/

# Checkpoints and Hugging Face outputs
*.ckpt
checkpoint/
checkpoints/
runs/
output/
*.pt
*.bin
*.h5

# Transformers Trainer output
flan-t5-small-insufficient-context/
*.bin
*.pt
*.h5
*.ckpt
logs/

# Datasets cache
.cache/
dataset_cache/
datasets/
data/*.arrow

# Hugging Face cache
~/.cache/huggingface/

# Model artifacts
*.onnx
*.pb
pytorch_model.bin
tf_model.h5

# Tokenizers
tokenizer_config.json
special_tokens_map.json

# Save directories
saved_models/

/models_dup_data/
/trained_model*/

